doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title "The ToDo manager"
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
    script(src='/assets/style.css')
  body
    #root
